<head>

    <!-- meta tags -->
    <meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=yes">
    
    <!-- SEO optimization -->
    <meta name="owner" content="Your website's Owner">
	<meta name="subject" content="Your website's Subject">
	<meta name="description" content="Your website's Description">
    <meta name="keywords" content="Your website's Keywords">
    <meta name="author" content="Your website's Author">

    <!-- Bot optimization -->
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    
    <!-- main css file -->
    <link rel="stylesheet" href="src/css/dist/styles.min.css">

    <!-- main js file -->
    <script defer type="text/javascript" src="src/js/dist/global.min.js"></script>

    <!-- title -->
    <title>Gulp App Starter</title>

    <!-- favicon -->
    <link href="favicon.png" rel="icon" />
    
</head>
