// ---------- Typography styles ---------- //

a {
    color: $nero;
    transition: .25s ease-in-out;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-default;
    font-weight: 700;
    color: $nero;
	text-transform: uppercase;
    line-height: normal;
    margin: 20px 0;
}

h1,
.h1 {
    font-size: 72px;
    margin: 50px 0;
}

h2,
.h2 {
    font-size: 60px;
    margin: 40px 0;
}

h3,
.h3 {
    font-size: 48px;
    margin: 30px 0;
}

h4,
.h4 {
    font-size: 36px;
}

h5,
.h5 {
    font-size: 24px;
	font-weight: 500;
    margin: 10px 0;
}

h6,
.h6 {
    font-size: 18px;
	font-weight: 500;
    margin: 10px 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: $nero;
	line-height: normal;
	text-align: justify;
}

// ---------- Icon styles ---------- //

.icon {
	line-height: normal;
    display: inline-block;
    color: $nero;
}
