// ---------- Font variables ---------- //

$font-default: 'sans-serif';

// ---------- White shades variables ---------- //

$white: #fff;
$silver: #aaa9ad;

// ---------- Black shades variables ---------- //

$black: #000;
$nero: #404040;
$noir: #202020;

// ---------- Grey shades variables ---------- //

$gray: #9e9e9e;
$light-gray: #eee;
$dark-gray: #424242;

// ---------- Red shades variables ---------- //

$red: #f44336;
$light-red: #ef9a9a;
$dark-red: #c62828;

// ---------- Green shades variables ---------- //

$green: #4caf50;
$light-green: #8bc34a;
$dark-green: #2e7d32;

// ---------- Blue shades variables ---------- //

$blue: #2196f3;
$light-blue: #03a9f4;
$dark-blue: #1565c0;

// ---------- Purple shades variables ---------- //

$purple: #9c27b0;
$light-purple: #ce93d8;
$dark-purple: #6a1b9a;

// ---------- Orange shades variables ---------- //

$orange: #ff9800;
$light-orange: #ffcc80;
$dark-orange: #ef6c00;

// ---------- Yellow shades variables ---------- //

$yellow: #ffeb3b;
$light-yellow: #fff59d;
$dark-yellow: #f9a825;

// ---------- Hybrid shades variables ---------- //

$silver-blue: #f7f9fc;
$blue-gray: #607d8b;
$lime: #cddc39;
$cyan: #00bcd4;
$teal: #009688;
$magenta: #f0f;
$indigo: #3f51b5;
